* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

ul {
  padding: 0;
}

li {
  width: 100%;
  justify-content: center;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  padding: 0.5em 0;
  background-color: mistyrose;
}

.header-logo {
  color: darkseagreen;
  margin-right: 0.5em;
}

.header-count {
  margin-left: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
  padding: 0 0.3em;
}

/* habitAddForm */
.add-form {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 100%;
  margin: 1.5em;
}

.add-input {
  width: 20rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: gray;
}

.add-btn {
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
  border-radius: 0.5rem;
  margin-left: 0.5em;
  background-color: darkseagreen;
  color: white;
}

/* habits */
.habits {
  min-height: 15rem;
}

.habit {
  display: flex;
  justify-self: center;
  font-size: 2rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: gold;
}

.habit-delete {
  font-size: 2rem;
  color: red;
}

.habits-reset {
  font-size: 2rem;
  width: 10rem;
  margin-top: 20px;
  padding: 0.2rem 1rem;
  background-color: darkseagreen;
  color: white;
  border-radius: 0.5rem;
  position: relative;
  left: 45%;
}
